.main-content
  %h1.title Mujer Valiente
  .window
    #iam.cat
      = show_svg "_cat.html"
    .illustration
      = image_tag ('photos/main/zs-18.jpg')

  -# component scrollmenu with option-wrapper to show attributes
  .scrollmenu
    .option-wrapper
      = comp_show_attribrutes 'Mujer Valiente'.titleize

  / Button trigger modal
  = link_to 'modal load', '#', "data-target" => "#exampleModal", "data-toggle" => "modal"





  -# .illustration-about
    .multimedia--about
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
